# Ignore system files
**/.DS_Store
**/__pycache__
**/.venv
**/.vscode
**/.git
**/.gitignore

# Ignore IDE and project files
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user

# Ignore logs and temporary files
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log

# Ignore local configuration files
**/docker-compose*
**/compose*
**/charts
**/secrets.dev.yaml
**/values.dev.yaml

# Exclude LICENSE and README only if not needed in the container
LICENSE
README.md
